extends ../layouts/main.pug
block content
  .container
    div
      form(action="/chats/create", method = "POST")
        .form-group
          label Chat's name 
          input.form-control(name="name",value=(chat) ? chat.name : null, required)
          input(type="hidden", name="chat_id", value=chat.id)
        .form-group
          button.btn.btn-dark(type="submit") Submit