extends ../layouts/main.pug
block content
  .container
    div
      form(action="/chats/create", method = "POST")
        .form-group
          label Chat's name 
          input.form-control(name="name", required)
        .form-group
          button.btn.btn-dark(type="submit") Submit